.profile {
  padding-top: 6rem;
  background-color: #ffa;
}

#proyek {
  background-color: #ffa;
}

.btn {
  margin-top: 8px;
  cursor: pointer;
  width: 100%;
  border: none;
}
.btn:hover {
  background-color: #ffa;
  color: rgb(0, 195, 255);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
  transition: 0.3s ease-in-out;
}

.footer {
  background-color: #ffa;
  padding-bottom: 2px;
}

section {
  padding-top: 5rem;
}
